<!DOCTYPE html>
<html>
<head>


<style>
h4{
font-color:white;
font-size:20px;
}
h1{
font-size:50px;
}
body {
background-image: url('https://img.freepik.com/premium-vector/sad-woman-working-laptop-from-home-error-message-vector-cartoon-character_499739-840.jpg?w=2000');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right;
background-size: 100% 100%;
}
</style>
</head>

<body >


<h4><center>
     <h1 ><big>
LOGIN FAILED...</big> <br>
<big>
    try again...</big><br>
<button style="height:25px;width: 100px" onclick="document.location='login'">login</button>
<br><br></h1><h2>
Do not have an account?<br></h2>
<br><button style="height:25px;width: 100px" onclick="document.location='signup'">signup</button>

</form>



</center>
</h4>
</body>

</html>
