<!DOCTYPE html>
<html>
  <head>
    <title>Online Shopping</title>
    <style>
      
    .banner{
    width: 100%;
    height:100vh;
    
    background-size:cover;
    background-position:center;
    }
    .navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content:space-between;
    }
    .logo{
      width: 120px;
      cursor: pointer;
    }
    .navbar ul li{
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
    }
    .navbar ul li a{
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
    .navbar ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background: #009688;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
    }
    .navbar ul li:hover::after{
      width: 100%;
    }
    .content{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50);
      text-align: center;
      color: #fff;
    }
    .content h1{
      font-size: 80px;
      margin-top: 80px;
    }
    .content p{
      margin: 20px auto;
      font-weight:100;
      line-height: 25px;
    }
    button{
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radious: 25px;
      font-weight: bold;
      border: 2px solid #009688;
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    span{
      background: #87CEEB;
      height: 100%;
      width: 0;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index:-1;
      transition: 0.5s
    }
    button:hover span{
      width: 100%;
    }
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 80%;
    overflow: hidden;
    border: 20px solid #dc287c;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.column {
           
           width: 90%;
           padding: 5px;
        
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.heading{
  background-image: url('https://t4.ftcdn.net/jpg/03/34/53/51/360_F_334535136_vvbWaKEpsHIMS4dpJUxgXZL6clQX7VGs.jpg');
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: 700px;
}
img{
    width: 100%;
}
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    
  <body>
    <hr style="height:10px;border-width:0;color:black;background-color:black">

    <h1 class = "heading">
   <div class="banner">
     <div class="navbar">
       
       <ul>
        
        <li><a style="color:rgb(13, 11, 11);font-family: cursive"herf="#">Home</a></li>
        <li><a style="color:rgb(17, 14, 14);font-family:cursive"herf="about.html">about</a></li>
        <li><a style="color:rgb(4, 4, 4);font-family: cursive" herf="#">Contact</a></li>
        <li><a style="color:rgb(18, 13, 13);font-family: cursive" herf="#">Settings</a></li>
       </ul>
     </div>
     <br><br>
     <div class="container">
      <div class="wrapper">
          
          <img src="https://www.shutterstock.com/shutterstock/photos/393230242/display_1500/stock-vector-super-sale-clothing-and-accessories-banner-sale-background-big-sale-sale-tag-sale-poster-sale-393230242.jpg">
     <img src="https://c8.alamy.com/comp/PR0MCY/electronics-promotional-shopping-sale-computer-gadgets-and-touch-screen-devices-PR0MCY.jpg">
     <img src="https://img.freepik.com/free-vector/makeup-cosmetics-beauty-bag-accessories_1284-9313.jpg?w=2000">
     <img src="https://www.savethestudent.org/uploads/sell-clothes-online-2.jpg">
     
      </div>
      

  </div></h1>
  <div class="row">
    <div class="column">
      <hr style="height:10px;border-width:0;color:black;background-color:black">

      <img src="shoe_img_1.png" alt="Shoe" style="width: 23%;">
      <img src="shoe_img_2.png"  style="width: 24%;">
      <img src="shoe_img_3.png"  style="width:24%">
      <img src="shoe_img_4.png"  style="width:24%">
    </div>
    <div class="column">
      

      <img src="dress_img_1.PNG"  style="width: 24%;">
      <img src="dress_img_2.PNG"  style="width: 23%;">
      <img src="dress_img_3.PNG"  style="width: 24%;">
      <img src="dress_img_4.PNG"  style="width: 24%;">
    </div>
    
  </div>
     
     
   </div>
  </body>
</html>
