<!DOCTYPE html>
<html>
<head>
<center>

<style>
h3{
font-color:white;
font-size:80px;
}
h1{
font-size:50px;
}
body {
background-image: url('https://stories.freepiklabs.com/storage/54334/computer-login-bro-8919.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right;
background-size: 60% 90%;
}
</style>

<h2>
<body style = "background-color :#83c9a7;">
</body>
</h2>
</center>
<center>
<h2 style="font-family:courier;"><form style = "position:relative; left:-300px; top:100px" action="/loginsubmit" method="get">
     <h1 style="font-family:courier;" >Login</h1>

<label for="user_name">User Name:</label><br>
<input type="text" id="user_name" name="user_name" size="30" required><br><br>
<label for="password">Password:</label><br>

<input type="password" id="password" name="password" size="30" required><br>



<br><button type = "submit" style="height:25px;width: 100px">login</button><br><br><small>
don't have an account?</small>
<br><button style="height:25px;width: 100px" onclick="document.location='signup'">signup </button>

</form>



</center>
</h2>
</head>
</html>
