<!DOCTYPE html>
<html>
<head>
<center>

<style>
h4{
font-color:white;
font-size:20px;
}
h1{
font-size:50px;
}
body {
background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/online-user-sign-up-4489365-3723272.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right;
background-size: 60% 100%;
}
</style>
</head>

<body style = "background-color :#927cbe;">


<h4><form style = "position:relative; left:-300px; top:2px" action="/signupsubmit" method="get">
     <h1 style = "background-color :#927cbe">Create Account </h1>
<label for="Name">First Name:</label><br>
<input type="text" id="first_name" name="first_name" size="30" required><br><br>
<label for="Name">User Name:</label><br>
<input type="text" id="user_name" name="user_name" size="30" required><br><br>
<label for="Name">E-mail:</label><br>
<input type="gmail" id="email" name="email" size="30" required><br><br>
<label for="Name">Password:</label><br>

<input type="password" id="password" name="password" size="30" required><br><br>


<button type="submit"  style="height:25px;width: 100px">signup</button><br><br>
Already have an account?
<br><button style="height:25px;width: 100px" onclick="document.location='login'">login</button>

</form>



</center>
</h4>
</body>

</html>
